/* General styling for the AuthPage container */
.auth-page {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  font-family: 'Helvetica, Arial, sans-serif';
}

/* Style for the header */
.auth-page h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

/* Style for input fields */
.auth-page input[type="email"],
.auth-page input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

/* Style for the checkbox */
/* .auth-page label {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 1em;
} */

.auth-page input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.2);
}

/* Style for the buttons */
.auth-page button {
  width: 100%;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 30px 0;
  cursor: pointer;
  font-size: 1.2em;
}

.auth-page button:hover {
  background-color: #0056b3;
}

/* Style for the hyperlinks */
.auth-page a {
  text-decoration: none;
  color: #007bff;
  margin-top: 15px;
  display: inline-block;
  font-size: 1em;
}

.auth-page a:hover {
  text-decoration: underline;
}

/* Style for 'Forgot Login?' hyperlink */
.auth-page a:last-child {
  margin-top: 10px;
  font-size: 0.9em;
}

.remember-me-label {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* or 'center' to center it on the page */
}

.remember-me-label input {
  margin-right: 10px; /* Adds some space between the checkbox and the text */
}

@media (max-width: 768px) {
  .auth-page {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: none;
  }

  .auth-page input[type="email"],
  .auth-page input[type="password"] {
    max-width: 70%;
    padding: 10px;
    margin: 10px auto;
    display: inline-block;
  }

  .auth-page button {
    max-width: 80%;
    padding: 15px;
    margin: 20px auto;
    display: inline-block;
  }
}
